<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="cart" class="com.nt.Foodcart">
<property name="menu">
<list>
<value>Paneer Butter Masala</value>
<value>Naan</value>
<value>Paneer Butter Masala</value>
<value>Jeera Rice</value>
</list>

</property>
</bean>
</beans>